@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    height: 46px;
    background-color: #1b1b1b;
  }
  
  .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  .dropdown {
      float: left;
      position: relative;  
  }
  
  .dropdown .dropbtn {
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
  }
  
  .dropdown-one {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-two {
    cursor: pointer;
    display: none;
    position: relative;
    left: 160px;
    top: 0px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-one, #link1:hover > .dropdown-two {
    display: block;
  }
  
  .dropdown-one .dItem {
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
      height: 50px;
      width: 150px;
  }
  
  .dropdown-one .dItem:hover, .dropdown-two a:hover {
      background-color: #ddd;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    color: #fff;
}

header button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: 'Prisma Normal', serif;
    cursor: pointer;
}
  
  /* Style the search box inside the navigation bar */
  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .navbar a, .navbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;
    }
  }


@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.kard {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 800px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: absolute;
  margin-left: -500px;
  margin-top: -600px;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: rgb(33, 33, 33);
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, green 0%, #232323 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  /*&:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }*/
}


footer {
  margin-top: 20px;
  border-top: 5px solid #6f6f6f;
  background-color: #1b1b1b;
  color: #fff;
  padding: 30px 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h1 {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid white;
  width: 20%;
  padding-bottom: 5px;
}

footer .services {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
}

footer .services .service {
  margin-right: 20px;
}

footer .services .service p {
  max-width: 300px;
}

footer #contact {
  color: rgb(181, 181, 181);
  margin-bottom: -10px;
}

@media screen and (max-width:680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .main .card {
        margin: 10px;
    }

    .main .content .card .right img {
        height: 200px;
        width: 100%;
        margin-top: -0px;
    }

    .main .content .card {
        display: block;
    }

    footer {
        padding: 30px;
    }

    @keyframes slidy {
        0% {
            left: 0%;
        }

        20% {
            left: 0%;
        }

        25% {
            left: -100%;
        }

        45% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        70% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        95% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

}