@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    height: 46px;
    background-color: #1b1b1b;
    z-index: 1000;

  }
  
  .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      z-index: 1000;

  }
  
  .dropdown {
      float: left;
      position: relative; 
      z-index: 1000;
  }
  
  .dropdown .dropbtn {
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      z-index: 1000;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: green;
      z-index: 1000;

  }
  
  .dropdown-one {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .dropdown-two {
    cursor: pointer;
    display: none;
    position:relative;
    left: 140px;
    top: 0px;
    min-width: inherit;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .button {
    color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
      height: 50px;
      width: 150px;
      z-index: 1000;
  }
  
  .dropdown:hover .dropdown-one, #link1:hover > .dropdown-two {
    display: block;
    z-index: 1000;

  }
  
  .dropdown-one .dItem {
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
      height: 50px;
      width: 150px;
      z-index: 1000;
  }
  
  .dropdown-one .dItem:hover, .dropdown-two a:hover {
      background-color: #ddd;
      z-index: 1000;

  }
  
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    color: #fff;
}

header button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: 'Prisma Normal', serif;
    cursor: pointer;
}

  /* Style the search box inside the navigation bar */
  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .navbar a, .navbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;
    }
  }


@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  margin-left: 30%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #Picture-3, #item-2:checked ~ .cards #Picture-1, #item-3:checked ~ .cards #Picture-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #Picture-2, #item-2:checked ~ .cards #Picture-3, #item-3:checked ~ .cards #Picture-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #Picture-1, #item-2:checked ~ .cards #Picture-2, #item-3:checked ~ .cards #Picture-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}


footer {
    margin-top: 20px;
    border-top: 5px solid #6f6f6f;
    background-color: #1b1b1b;
    color: #fff;
    padding: 30px 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}

footer .services {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 20px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
    margin-bottom: -10px;
}

@media screen and (max-width:680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .main .card {
        margin: 10px;
    }

    .main .content .card .right img {
        height: 200px;
        width: 100%;
        margin-top: -0px;
    }

    .main .content .card {
        display: block;
    }

    footer {
        padding: 30px;
    }

    @keyframes slidy {
        0% {
            left: 0%;
        }

        20% {
            left: 0%;
        }

        25% {
            left: -100%;
        }

        45% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        70% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        95% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

}